%h3 Shared runners

.bs-callout.bs-callout-warning
  GitLab Runners do not offer secure isolation between projects for which they do builds. You are TRUSTING all GitLab users who can push code to project A, B or C to run shell scripts on the machine hosting runner X.
  %hr
  - if @project.shared_runners_enabled?
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-warning', method: :post do
      Disable shared runners
  - else
    = link_to toggle_shared_runners_namespace_project_runners_path(@project.namespace, @project), class: 'btn btn-success', method: :post do
      Enable shared runners
  &nbsp; for this project

- if @shared_runners_count.zero?
  This GitLab server does not provide any shared runners yet.
  Please use specific runners or ask the administrator to create one.
- else
  %h4.underlined-title Available shared runners - #{@shared_runners_count}
  %ul.bordered-list.available-shared-runners
    = render partial: 'runner', collection: @shared_runners, as: :runner
  - if @shared_runners_count > 10
    .light
      and #{@shared_runners_count - 10} more...
